{% extends "portfolio/portfolio-base.html" %}

{% block content %}

{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
  {% elif field.flags.error %}
</div>
{% else %}
<div></div>
{% endif %}
<div>
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <legend>Sign in</legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.name, placeholder="Name") }}
      {{ render_field(form.email, placeholder="Your Email Address",
                                  autofocus="") }}
      {{ render_field(form.phone, placeholder="Phone") }}
      {{ render_field(form.subject, placeholder="Subject") }}
      {{ render_field(form.message, placeholder="Message") }}
      <button type="submit" name="submit">Send</button>
    </form>
  </div>
</div>
 {% endblock content %}