{% extends "portfolio/portfolio-base.html" %}

{% block content %}
<div class="container is-max-desktop has-text-left my-4">
  <div class="columns px-6 py-6">
    <div class="column px-3">
      <h1 class="title is-1 pt-6 pb-3">Hi, I'm James!</h1>
      <h3 class="subtitle is-3">I'm a startup consultant, software engineer, writer, and dog owner.</h3>
    </div>
    <div class="column px-3">
      <p class="is-size-5 pt-6 has-text-weight-semibold">About Me</p>
      <p class="is-size-6 has-text-justified">
        I graduated from Indiana University in 2020 with a B.S. in Business, majoring in Finance and Information
        Systems from the Kelley School of Business. Now, I am a startup consultant and software engineer for
        <a href="https://papabearsoftware.com">Papa Bear Software</a>, where I was their first in-house hire. Prior to
        that, I was the Lead Software Engineer for Bloomington-based startup, Doriot EDU.
        <br><br>
        This is where I showcase my portfolio, projects, and writings. I write (or plan to write) about a wide breadth
        of subject matter on my blog. You can find that here, and see more about me here.
      </p>
      <p class="is-size-6 has-text-centered has-text-weight-semibold mb-6"><br>Based in Bloomington, IN
        <br>Contact me: hejames98[at]gmail[dot]com
        <br></p>
    </div>
  </div>
</div>
{% endblock content %}